$fontSize:37.5;
@function px2Rem ($px){
  @return $px/$fontSize + rem;
}


@font-face {
  font-family: PingFangSC;
  src:url('../../typeface/PingFang-SC-Regular.otf');
}
@font-face {
  font-family: DINAlternate;
  src:url('../../typeface/DIN Alternate.ttf');
}
.clear::after{
  content: '';
  display: block;
  clear: both;
}
body{
  /*background-color:#f9f9f9;*/
}
.box{
  width: 100%;
  height: px2Rem(52);
  background: #000;
}
.header{
  height:px2Rem(52);
  position: relative;
  z-index: 99;
  padding: 0 px2Rem(20);
  background: #000;
}
.header-nav{
  min-height:px2Rem(40);
  background:#000000;
  color:#ffffff;
  border: 0;
}
.navbar-toggle {
  margin-bottom: px2Rem(7);
  margin-top: px2Rem(7);
  float: center;
  margin-left: px2Rem(10);
}
.nav>li{
  padding: px2Rem(3) 0;
}
.nav>li>a {
  position: relative;
  display: block;
  padding: px2Rem(10) px2Rem(10);
}
.navbar-default .navbar-nav>li>a {
  color:#666666;
  padding-top: px2Rem(14);
  padding-bottom: px2Rem(4);
  margin: 0 px2Rem(15);
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 px2Rem(8);
}
.header-nav > .container-fluid > .navbar-collapse > .nav > li:hover a {
  color: #ffffff;
  border-bottom: none; }
.navbtn{
  font-size: px2Rem(20);
  color: #ffffff!important;;
  font-weight: 700!important;
  margin:0 auto;
}
.navlx{
  float:left;
  /*display: none;*/
}
.navbar-headerbox{
  display: flex;
  justify-content: space-between;
}






.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle:hover{
  background: none;
}
.container-fluid>.navbar-header{
  padding: 0;
  margin:0;
}
.container-fluid>.navbar-header a{
  color: #fff;
}
.navbar-default .navbar-nav>li>a:hover{
  border: none;
  color: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets {
  display: none;
}
.header{
  padding:0;
  margin: 0;
}
.flex_box{
  max-width: px2Rem(375);
  display: flex;
  justify-content: space-around;
}
.flex_box .navbtn{
  height: px2Rem(15);
}
.flex_box .navlx{
  width: px2Rem(70);
  height: px2Rem(50);
  font-size: px2Rem(13);
  /*float:left;*/
  display: block;
  font-family: PingFangSC-Regular;
  /*padding-right: 0px;*/
}
.footer{
  max-width: px2Rem(375);
  max-height: px2Rem(233);
  background: #ffffff;
  color:#999999;
  padding: px2Rem(18) 0 px2Rem(12) 0;
  border-top: 1px solid #e6e6e6;
}
.min768{
  display: none;
}
.max768{
  display: block;
  width: px2Rem(375);
  height: px2Rem(232);
}
.max768 ul{
  list-style: none;
  margin: 0;
  padding:0;
  max-width: px2Rem(375);
  max-height: px2Rem(233);
}
.max768 ul li{
  margin: px2Rem(14.5) 0;
  text-align: center;
  font-family: PingFangSC-Semibold;
  font-size: px2Rem(12);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
}




.body-header{
  width: px2Rem(375);
  padding: px2Rem(24) px2Rem(43) px2Rem(20) px2Rem(40);
  margin: 0 auto;
}
.body-header h3{
  width: px2Rem(292);
  height: px2Rem(58);
  font-family: PingFangSC;
  font-size: px2Rem(18);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.61;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 0;
}
.cont1{
  width: 100%;
  height: px2Rem(250);
  background: url(../../images/Slice_5_02.jpg) center center;
  background-size: cover;
}
.cont1 img{
  width: 100%;
  height: 100%;
}
.about_1{
  width:100%;
  padding: 0 px2Rem(12);
  margin:px2Rem(12) auto 0 auto;
}
.about_1 h4{
  height: px2Rem(22);
  font-family: PingFangSC;
  font-size: px2Rem(16);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  padding: 0;
}
.about_1 h5{
  height: px2Rem(14);
  font-family: DINAlternate;
  font-size: px2Rem(12);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  padding: 0;
  margin: 0;
}
.about_2{
  width: px2Rem(244);
  height: px2Rem(58);
  margin: px2Rem(24) auto px2Rem(20) auto;
}
.about_2 h3{
  width: 100%;
  height: 100%;
  font-family: PingFangSC;
  font-size: px2Rem(18);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height:px2Rem(30);
  letter-spacing: normal;
  color: #171717;
  padding: 0;
  margin:0 auto;
  text-align: center;
}
.about_3{
  width: px2Rem(375);
  padding: 0 px2Rem(20);
  height: px2Rem(210);
  margin: 0;
}
.about_3 p{
  font-family: PingFangSC;
  font-size: px2Rem(16);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: px2Rem(30);
  letter-spacing: normal;
  color: #666666;
  margin: 0;
}
.anli{
  width: px2Rem(375);
  padding: 0 px2Rem(20);
  height: px2Rem(287);
  margin: 0 auto;
  margin-top: px2Rem(20);
  margin-bottom: px2Rem(40);
}
.anli .anli_box{
  padding: 0;
  margin: 0;
}
.anli .anli_box:nth-of-type(1){
  margin-left: 0;
}
.anli .anli_box:nth-of-type(3){
  margin-right: 0;
}
.anli .anli_box .anli_box_img{
  width: px2Rem(335);
  height: px2Rem(208);
}
.anli .anli_box .anli_box_img img{
  width: 100%;
  height: 100%;
}
.anli .anli_box .anli_box_text{
  padding: px2Rem(7) 0 0px px2Rem(8);
  margin-bottom: px2Rem(24);
}
.anli .anli_box .anli_box_text h4{
  width: px2Rem(130);
  height: px2Rem(20);
  font-family: PingFangSC;
  font-size: px2Rem(14);
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: px2Rem(12);
}
.anli .anli_box .anli_box_text span{
  width: px2Rem(332);
  height: px2Rem(34);
  font-family: PingFangSC;
  font-size: px2Rem(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #5e5e5e;
  margin: 0;
  padding: 0;
}
.about_1_1{
  width:100%;
  padding: 0 px2Rem(12);
  margin: px2Rem(12) auto 0 auto;
  float: left;
}
.about_1_1 h4{
  height: px2Rem(22);
  font-family: PingFangSC;
  font-size: px2Rem(16);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
  margin: 0;
  padding: 0;
}
.about_1_1 h5{
  height: px2Rem(14);
  font-family: DINAlternate;
  font-size: px2Rem(12);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #999999;
  padding: 0;
  margin: 0;
}

.about_4{
  width: 100%;
  padding: 0 px2Rem(20);
  margin: 0 auto;
  overflow: hidden;
}
.about_4 ul{
  width: 100%;
  height: 100%;
  padding:0;
  margin: 0;
  list-style: none;
  display: flex;
}
.about_4 ul li{
  padding: 0;
  float: left;
  margin: 0;
  flex: 1;
}
.about_4 ul li h1{
  height: px2Rem(69);
  font-family: ArialNarrow;
  font-size:px2Rem(60);
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #afafaf;
  padding: 0;
  margin:px2Rem(20) auto px2Rem(29) auto;
}
.about_4 ul li h4{
  width: px2Rem(73);
  height: px2Rem(22);
  font-family: PingFangSC;
  font-size: px2Rem(16);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #393939;
  padding: 0;
  margin: 0 auto px2Rem(17) auto;
}
.about_4 ul li .about_4_img2{
  margin-left: px2Rem(32);
}
.about_4 ul li .about_4_img{
  margin-left: px2Rem(15);
}

.about_6{
  width: px2Rem(375);
  padding: 0 px2Rem(4);
  margin: 0 auto;
}
.about_6 .about_6_box{
  padding: 0;
}
.about_6 .about_6_box .about_6_box_img{
  height: px2Rem(187.5);
  margin-bottom: px2Rem(7.5);
}
.about_6 .about_6_box .about_6_box_img img{
  width: 100%;
  height: 100%;
}
.about_6 .about_6_box .about_6_box_t{
  width:px2Rem(162);
  height: px2Rem(58);
  margin: 0 auto px2Rem(10) auto;
}
.about_6 .about_6_box .about_6_box_t span{
  display: block;
  font-family: PingFangSC;
  font-size: px2Rem(16);
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: px2Rem(30);
  letter-spacing: normal;
  text-align: center;
  color: #171717;
}
.about_6 .about_6_box .about_6_box_t span:nth-of-type(2){
  display: none;
}
.about_6 .about_6_box .about_6_box_t span:nth-of-type(3){
  display: block;
}
.about_6 .about_6_box .about_6_box_b_else p:nth-of-type(1){
  display: none;
}
.about_6 .about_6_box .about_6_box_b_else p:nth-of-type(2){
  display: block;
}
.about_6 .about_6_box .about_6_box_b{
  width: px2Rem(162);
  height: px2Rem(140);
  margin: 0 auto px2Rem(20) auto;
}
.about_6 .about_6_box .about_6_box_b p{
  font-family: PingFangSC;
  font-size: px2Rem(12);
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: px2Rem(20);
  letter-spacing: normal;
  text-align: center;
  color: #666666;
  margin: 0;
  padding: 0;
}
/*成员结束*/